@model List<Company>
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white bg-warning py-2">KİŞİ-FİRMA LİSTESİ</h1>
                <a class="navbar-brand justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/img/BkLogo.jpg" style="width:300px" />
                </a>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Company" asp-action="Upsert" class="btn btn-warning">
                    <i class="bi bi-plus-circle"></i> YENİ KİŞİ-FİRMA EKLE
                </a>
            </div>
        </div>
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>İsim-Soyisim</th>
                    <th>Açık Adres</th>
                    <th>Şehir</th>
                    <th>İlçe</th>
                    <th>Telefon Numarası</th>
                    <th>Posta Kodu</th>
                    <th class="text-center">İşlem Yap</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>@obj.StreetAdress</td>
                        <td>@obj.City</td>
                        <td>@obj.State</td>
                        <td>@obj.PhoneNumber</td>
                        <td>@obj.PostalCode</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Company" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-success mx-2">
                                    <i class="bi bi-pencil-square"></i> Düzenle
                                </a>
                                <a id="@obj.Id" onclick="Delete(@obj.Id)" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash"></i> Sil
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody> 
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/js/company.js"></script>
}